{
	# Enable HTTP/3 globally (QUIC)
	server {
		protocols h1 h2 h3
	}
}

# HTTPS site
https://{$DOMAIN} {
	log

	@v0 path_regexp v0 ^/v0/(.*)$
	rewrite @v0 /{http.regexp.v0.1}?{query}&v=0

	handle {
		reverse_proxy {$BACKEND_API_URL}
	}

	encode zstd gzip
}

# HTTP site (no redirect to HTTPS)
http://{$DOMAIN} {
	log

	@v0 path_regexp v0 ^/v0/(.*)$
	rewrite @v0 /{http.regexp.v0.1}?{query}&v=0

	handle {
		reverse_proxy {$BACKEND_API_URL}
	}

	encode zstd gzip
}