# Redirect non-www HTTPS to www
https://{$DOMAIN} {
	redir https://www.{$DOMAIN}{uri} permanent
}

# Redirect non-www HTTP to www HTTPS
http://{$DOMAIN} {
	redir https://www.{$DOMAIN}{uri} permanent
}

# Primary HTTPS site with www (HTTP/3 automatically enabled)
https://www.{$DOMAIN} {
	log

	@v0 path_regexp v0 ^/v0/(.*)$
	rewrite @v0 /{http.regexp.v0.1}?{query}&v=0

	handle {
		reverse_proxy {$BACKEND_API_URL}
	}

	encode zstd gzip
}

# Primary HTTP site with www
http://www.{$DOMAIN} {
	log

	@v0 path_regexp v0 ^/v0/(.*)$
	rewrite @v0 /{http.regexp.v0.1}?{query}&v=0

	handle {
		reverse_proxy {$BACKEND_API_URL}
	}

	encode zstd gzip
}
